.home-container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.intro-video__container {
  display: flex;
  justify-content: center;
  /* height: 350px; */
  overflow: hidden;
  margin-bottom: 60px;
}

.motto {
  margin: 0px;
  padding-bottom: 20px;
  font-size: 5em;
  font-family: 'quicksand-bold';
}

.home-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding-bottom: 40px;
}

.description {
  font-size: 1.25em;
  inline-size: 524px;
  overflow-wrap: break-word;
  padding-bottom: 40px;
}

.kids-home {
  display: flex;
  justify-content: center;
}

.blue-text {
  color: rgb(0, 96, 128);
}

/* Sample Lessons Button */

.button-sample-lessons__container {
  display: flex;
  justify-content: flex-end;
}

.button-sample-lessons {
  position: relative;
  background: rgb(255, 166, 0); 
  border: none;
  outline: none;
  height: 5em;
  width: 5em;
  font-size: 1em; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
  cursor: pointer;
	-moz-border-radius: 5em;
	-webkit-border-radius: 5em;
	border-radius: 5em;
}

.button-sample-lessons:hover {
  background: rgb(255, 196, 0);
}

.button-sample-lessons:before {
  content: "";
  position: absolute;
  top: 1.5em;
  left: 1.67em;
  height: 0;
  border-style: solid;
  border-width: 1em 0 1em 2em;
  border-color: transparent transparent transparent #ffffff; 
  transition: .218s ease;
}

.button-sample-lessons__text {
  display: inline;
  vertical-align: middle;
  padding-left: 16px;
  font-size: 1.5em;
  text-decoration-line: underline;
}