.home-container {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

/* @media (max-width: 1475px) {
  .home-container {
    flex-flow: column wrap;
    width: 100%;
    justify-content: center;
  }
} */

.intro-video__container {
  display: flex;
  justify-content: center;
  /* height: 350px; */
  overflow: hidden;
  margin-bottom: 60px;
}

@media (max-width: 600px) {
  .intro-video__container {
    display: none;
  }
}

.motto {
  align-self: center;
  margin: 0px;
  padding: 20px;
  font-size: 5em;
  font-family: 'quicksand-bold';
}



@media (max-width: 600px) {
  .motto {
    font-size: 3em;
  }
}

.home-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding-bottom: 40px;
}

.description {
  font-size: 1.25em;
  inline-size: 524px;
  overflow-wrap: break-word;
  padding: 20px;
  padding-bottom: 40px;
}

@media (max-width: 600px) {
  .description {
    display: flex;
    justify-content: center;
    font-size: 1.25em;
    max-width: 300px;
  }
}

@media (max-width: 600px) {
  .home-text {
    inline-size: 350px;
  }
}

.kids-home {
  display: flex;
  justify-content: center;
}

@media (max-width: 1300px) {
  .kids-home img {
    max-width: 85%;
    max-height: 85%;
  }
}

@media (max-width: 600px) {
  .kids-home {
    display: none;
  }
}

.blue-text {
  color: rgb(0, 96, 128);
}

.buttons__container {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-items: center;
}

@media (max-width: 600px) {
  .buttons__container {
    justify-content: center;
    flex-flow: column wrap;
  }
}

@media (max-width: 1000px) {
  .contact-button__container {
    display: none;
  }
}

/* Sample Lessons Button */

.button-sample-lessons {
  position: relative;
  background: rgb(255, 166, 0); 
  border: none;
  outline: none;
  height: 5em;
  width: 5em;
  font-size: 1em; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
  cursor: pointer;
	-moz-border-radius: 5em;
	-webkit-border-radius: 5em;
	border-radius: 5em;
}

.button-sample-lessons:hover {
  background: rgb(255, 196, 0);
}

.button-sample-lessons:before {
  content: "";
  position: absolute;
  top: 1.5em;
  left: 1.67em;
  height: 0;
  border-style: solid;
  border-width: 1em 0 1em 2em;
  border-color: transparent transparent transparent #ffffff; 
  transition: .218s ease;
}

.button-sample-lessons__text {
  display: inline;
  vertical-align: middle;
  padding-left: 16px;
  font-size: 1.5em;
  text-decoration-line: underline;
  color: black;
}