.members__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

@media (max-width: 600px) {
  .members__container {
    margin-top: 60px;
  }
}

.members__videos-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 60px;
}

.members__videos-content-container {
  max-width: 1130px;
}

.members__videos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 50px;
  max-width: 1130px;
}

.members__heading {
  display: flex;
  justify-content: center;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-underline-offset: 20px;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 80px;
}

.members__button-container {
  display: flex;
  justify-content: center;
}

.members__button {
  
}

.members__grade-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 12px;
  list-style: none;
  max-width: 700px;
  padding: 0px;
}

@media (max-width: 600px) {
  .members__grade-buttons {
    max-width: 90%;
  }
}