.members__container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.members__videos-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 50px;
  padding: 5%;
  max-width: 1600px;
}

@media (max-width: 1264px) {
  .members__videos-container {
    justify-content: center;
  }
}