.members__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

@media (max-width: 600px) {
  .members__container {
    margin-top: 80px;
  }
}

.members__videos-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 60px;
}

.members__videos-content-container {
  max-width: 1130px;
}

.members__videos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 50px;
  max-width: 1130px;
}

.members__heading {
  display: flex;
  justify-content: center;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-underline-offset: 20px;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 80px;
}

.members__button-container {
  display: flex;
  justify-content: center;
}

.members__button {
  background-color: #0075a3;
  border: none;
  border-radius: 18px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: all .2s ease-out;
}

.members__button:hover {
  background-color: #0086bb;
  transition: all .2s ease-out;
}

.members__grade-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 12px;
  list-style: none;
  padding: 0px 60px;
}

@media (max-width: 600px) {
  .members__grade-buttons {
    max-width: 90%;
  }
}