.navigation {
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
  display: inline;
  padding: 14px;
}

.logo-left {
  width: 100px;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: black;
}

/* a:link {

} */

a:visited {
  color: black;
}