.offerings__container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
  
.offerings {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-color: #3a82e0;
  border-radius: 16px;
  padding: 24px;
  width: 80%;
}

@media (max-width: 1350px) {
  .offerings {
    flex-flow: column wrap;
    width: 70%;
  }
}
  
.offerings-left,
.offerings-center,
.offerings-right {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-self: center;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 150px;
}

.offerings__text {
  display: flex;
  flex-direction: column;
  align-self: center;
}
  
.offerings-center {
  border-left-style: dotted;
  border-right-style: dotted;
  border-color: white;
}

@media (max-width: 1350px) {
  .offerings-center {
    border-left-style: none;
    border-right-style: none;
    border-top-style: dotted;
    border-bottom-style: dotted;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

span {
  display: flex;
  word-wrap: break-word;
  max-width: 250px;
  align-self: center;
  color: white;
}

.offerings__large-text {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  font-size: 3em;
  font-weight: bolder;
}

@media (max-width: 1350px) {
  .offerings__large-text {
    font-size: 2em;
  }
}

.video-icon {
  display: flex;
  align-self: flex-start;
  background-color: #ff5b14;
  border-radius: 6px 25px;
  margin-right: 12px;
  position: relative;
  top: 32px;
}

.file-icon {
  display: flex;
  align-self: flex-start;
  background-color: #ffc118;
  border-radius: 6px 25px;
  margin-right: 12px;
  position: relative;
  top: 32px;
}

.scissors-icon {
  display: flex;
  align-self: flex-start;
  background-color: #36ca1e;
  border-radius: 6px 25px;
  margin-right: 12px;
  position: relative;
  top: 32px;
}