.tech-details__container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tech-details {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  justify-content:space-around;
}

@media (max-width: 1428px) {
  .tech-details {
    flex-flow: column nowrap;
  }
}

.desktop-icon,
.robot-icon,
.coding-icon {
  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: 50px;
  margin: 0px 20px;
  width: 68px;
  height: 68px;
  position: relative;
}

.desktop-icon {
  background-color: #ffc118;
}

.robot-icon {
  background-color: #36ca1e;
}

.coding-icon {
  background-color: #c47d61;
}

.tech-details__left,
.tech-details__middle,
.tech-details__right {
  display: flex;
  justify-content: center;
  align-self: center;
  padding-top: 8px 8px;
  height: 150px;
  background-color: #eee;
  margin: 0px 20px;
  border-style: solid;
  border-color: #0075a3;
}

.tech-details__left {
  border-radius: 60px 16px 16px 60px;
}

@media (max-width: 1428px) {
  .tech-details__left {
    border-radius: 50px 50px 8px 8px;
  }
}

.tech-details__middle {
  border-radius: 16px 16px;
}

@media (max-width: 1428px) {
  .tech-details__middle {
    border-radius: 8px;
  }
}

.tech-details__right {
  border-radius: 16px 60px 60px 16px;
}

@media (max-width: 1428px) {
  .tech-details__right {
    border-radius: 8px 8px 50px 50px;
  }
}

@media (max-width: 1428px) {
  .tech-details__left,
  .tech-details__middle,
  .tech-details__right {
    margin: 12px 0px;
  }
}

.tech-details__text-container {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.tech-details__text {
  display: flex;
  word-wrap: break-word;
  max-width: 250px;
  font-size: 1.5em;
  margin-right: 20px;
}

@media (max-width: 1428px) {
  .tech-details__text {
    max-width: 700px;
    width: 700px;
  }
}

@media (max-width: 912px) {
  .tech-details__text {
    max-width: 250px;
    width: unset;
  }
}